mixin icon(iconName, iconClass)
  svg(class=`${iconClass}`)
    use(xlink:href=`/images/icons/sprite.svg#${iconName}`)

mixin iconPath(iconPath,iconName, iconClass)
  svg(class=`${iconClass}`)
    use(xlink:href=`${iconPath}/sprite.svg#${iconName}`)

mixin image(imagePath, imageClass, imageAlt)
  if !imageAlt
    - var alt = 'lorem'
  else
    - var alt = imageAlt
  img(src=`${imagePath}`, alt=`${alt}`, class=`${imageClass}`)